<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Show Menu"
               hide-gt-sm ng-show="vm.toggleSidenav"
               ng-click="vm.toggleSidenav()">
      <md-icon>menu</md-icon>
    </md-button>

    <h2><span>Nemtu</span></h2>

    <span flex></span>
    <md-button class="md-raised md-primary" aria-label="Log in"
               ng-hide="vm.isLoggedIn"
               ui-sref="login">
      Log in
    </md-button>
    <div ng-show="vm.isLoggedIn">
      <span>Hello {{vm.displayName}}</span>

      <md-button class="md-raised md-primary" aria-label="Log out"
                 ng-click="vm.logout()">
        Log out
      </md-button>
    </div>
  </div>
</md-toolbar>
