<nmt-navbar toggle-sidenav="vm.toggleList()"></nmt-navbar>

<div id="nmt" class="container" layout="row" flex>
  <md-sidenav
    ng-click="vm.toggleList()"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')"
    class="md-whiteframe-4dp">

    <md-list>
      <!--TODO(vucalur): DRY violation: channels & engines-->
      <md-list-item ng-repeat="channel in vm.channels" ng-mouseenter="showActions = true" ng-mouseleave="showActions = false"
                    ng-class="{'selected' : channel === vm.selected }">
        <md-button ng-click="vm.selectItem(channel)">
          <h3>{{channel.name}}</h3>
        </md-button>
        <div ng-show="showActions" layout="row">
          <md-button class="md-raised md-fab md-mini" ng-click="vm.edit($event, channel)">
            <md-tooltip>Edit</md-tooltip>
            <!--TODO(vucalur): find alternative to angular-material-icons-->
            <ng-md-icon icon="mode_edit"/>
          </md-button>
          <md-button class="md-raised md-fab md-mini md-warn" ng-click="vm.remove($event, channel)">
            <md-tooltip>Remove</md-tooltip>
            <!--TODO(vucalur): find alternative to angular-material-icons-->
            <ng-md-icon icon="delete"></ng-md-icon>
          </md-button>
        </div>
      </md-list-item>
    </md-list>

    <md-button class="md-raised md-primary" ng-click="vm.add($event)">
      Add new
    </md-button>
  </md-sidenav>

  <md-content flex>
    <h2>{{vm.selected}}</h2>
  </md-content>
</div>
