<nmt-navbar toggle-sidenav="vm.toggleList()"></nmt-navbar>

<div id="nmt" class="container" layout="row" flex>
  <md-sidenav
    ng-click="vm.toggleList()"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-sm')"
    class="md-whiteframe-4dp">

    <md-list>
      <md-list-item ng-repeat="item in ['One', 'Two', 'Three']">
        <md-button ng-click="vm.selectItem(item)" ng-class="{'selected' : item === vm.selected }">
          {{item}}
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <md-content flex>
    <h2>{{vm.selected}}</h2>
  </md-content>
</div>
