md-virtual-repeat-container#dynamicArticlesContainer {
  /* TODO(vucalur): dynamicaly adjust to screen */
  height: 450px;
}

#article {
  .nmt-headline {
    font-size: 17px;
    font-weight: bold;

    a {
      text-decoration: initial;
      color: black;
    }
  }

  .nmt-customField {
    .fieldLabel {
      color: rgba(114, 114, 114, 0.91);
    }
  }
}
