<nmt-navbar></nmt-navbar>

<md-content>
  <md-list>
    <md-subheader class="md-no-sticky">
      <div ng-show="vm.engines.length">
        Your crawling engines:
      </div>
      <div ng-hide="vm.engines.length">
        You don't have any engines yet.<br/> Create a new one by clicking 'Add new'.
      </div>
    </md-subheader>
    <md-list-item ng-repeat="engine in vm.engines" layout="row" ng-mouseenter="showActions = true" ng-mouseleave="showActions = false">
      <h3>{{ engine.name }}</h3>
      <div ng-show="showActions">
        <md-button class="md-raised md-fab md-mini" ng-click="vm.addOrEdit($event, engine)">
          <md-tooltip>Edit</md-tooltip>
          <ng-md-icon icon="mode_edit"/>
        </md-button>
        <md-button class="md-raised md-fab md-mini md-warn" ng-click="vm.remove($event, engine)">
          <md-tooltip>Remove</md-tooltip>
          <ng-md-icon icon="delete"></ng-md-icon>
        </md-button>
      </div>
    </md-list-item>
  </md-list>
  <md-button class="md-raised md-primary" ng-click="vm.addOrEdit($event)">
    Add new
  </md-button>
</md-content>
